* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EAEDED;
	font-family: Arial, sans-serif;
	position: relative;
	
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1200px;
	/* max-height: 3600px; */
}

main article {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
	height: 1000px;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #232F3E;
	padding: 5px 0;
	margin-bottom: 20px;
}

.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
	color: #ccc;
	border: 1px solid transparent;
	padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}


.grid .categorias{
	display:flex;
	flex-direction: column;
	align-items: stretch;

}


.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i.flechaBlanca{
	color: #fff;
}


.grid .categorias a .flechaMenu {
	display: none;
}

.grid .categorias a:hover {
	background-color: #E47911;
	font-weight: bold;
}

.grid .categorias a:hover .flechaMenu {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #000;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	background-color: #E47911;
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #E47911;
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #232F3F;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}
}





/* ANIMACION LOADER */

.loader{
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 5px solid #eee;
	border-top: 5px solid #621132;
	animation-name:girar;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin-top: -8px;
}

@keyframes girar 
{
	form{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.arrowAnimation{
	animation: saltar 1s infinite;
}

@keyframes saltar{
	form{
		transform: translatey(0);
	}
	to{
		transform: translateY(8px);
	}
}


.aboutme{
	width: 100%;

	margin-top: 65px;
	margin-bottom: 7px;
	align-items: center;
	text-align: justify;
}
span{
	color: #E47911;
}

@media screen and (min-width: 700px){
	.aboutme{
		width: 70%;
		margin-right: 70px;
		margin-left: 150px;
		
	}
}
/* ---------------------PORTAFOLIO */

.categorias2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.categorias2 a {
	color: #E47911;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	
}
.categorias2 a.activo{
	color: #000;
}


/* /-----GRID */

.grid2{
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;


}

.grid2.imagenes-cargadas{
	opacity: 1;
}


.grid2 .item{
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width:calc( 33.33% - 20px);
}

.grid2 .item-contenido{
	position: relative;
}

.grid2 .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
	border-radius: 5px;

}

/* overlay  */

.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9 );
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo{
	display: flex;
}

.overlay img{
	max-width: 90%;

}

.overlay .descripcion{
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img2{
	position: relative;

}
.overlay #btn-cerrar-popup{
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;

}

@media screen  and (max-width: 700px) {
	.grid2 .item{
		width: calc(100% - 20px)
	}

	.menu{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}
}



.grid-projects  {

	display: flex;
	justify-content: space-around;
	align-items: center;

	/* align-items: center;
	justify-content: center;	 */
	/* margin-left: 100%;
	margin-right: 100%; */
}
.btn-project{
	padding: 2px 10px;
	width: 100%;
	margin: 10px;
	text-align: center;
	font-size: 16px;
	border:solid 1px #000;
	border-radius: 8px;
	color: #000;
}


.titulo-proyecto{
	text-align: center;
}

.descripcion-proyecto{
	text-align: center;
	font-size: 15px;
}

.item-contenido{
	margin-bottom: 35px;

}
.btn-project:hover{
	background-color: #E47911;
}


.cv-grid{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.dcv{
	padding: 3px;
	margin: 30px;
	font-size: medium;
}

.categorias2 a{
font-size: x-large;
}


.div-ws{
/* margin-left: 1100px; */
/* margin-right: 20px; */
position: fixed;
bottom: 2px;
right: 2px;
}

.whatsApp {
	width: 70px;

}